@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');

body {
  margin-top: 5%;
  background-image: url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  color: white;
}
fieldset {
  border-color: transparent;
}
#answer {
  font-size: 24em;
  text-align: center;
}